#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  background-color: rgb(3, 3, 16);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.App h1{
  color: white;
}
.App p{
  color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.App button{
  width: 15%;
}
.firstContainer{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logoMenu{
  display: flex;
  justify-content: space-between;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background: white;
  display: flex;
  
}
.card p{
  display: flex;
  
}

.read-the-docs {
  color: #888;
}
